* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {}

main {
    padding: 15px;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    background: radial-gradient(circle, #000 5%, #183163 80%, #202e47)
}

.row {
    display: flex;
}

.center {
    justify-content: center;
}

.middle {
    align-items: center;
}

.column {
    flex-direction: column
}

.input-primary,
.input {
    margin: 10px;
    height: 70px;
    background: radial-gradient(circle, #183163, #202e47);
    border: 5px solid #fff;
    border-radius: 30px;
    width: 40%;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.input:hover {
    opacity: .8;
}

.col-sm-12 {
    width: 100%;
}

.col-sm-6 {
    width: 50%;
}

.basis-50 {
    flex-basis: 50%
}

.input .option {
    color: orange;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    font-size: 1.2rem;
    position: absolute;
    left: 9px;
}

.input-primary .text,
.input .text {
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    padding-left: 40px;
}

.between {
    justify-content: space-between;
}

.orange {
    background: #cc9229;
}

.green {
    background: green;
}

#next {
    position: fixed;
    top: 0;
    right: 0;
    background: green;
    color: white;
    border: none;
    padding: 20px;
    border-left: 2px solid #9c9a9a;
    border-bottom: 2px solid #9c9a9a;
    cursor: pointer;
}

#contador {
    background: #183163;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    box-shadow: 1px 1px 1px 1px black;
}

.ayudas {
    padding: 10px;
}

.ayudas button {
    padding: 2px;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background: #375081;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
}

.disabled {
    cursor: auto;
    opacity: .8;
}

.disabled .text {
    display: none;
}